body, table, textarea, input, select {font-family: Verdana, Arial, sans-serif; font-size: 14px;}
.matrix {border-width: 1px;	border-style: solid;	border-color: black; width:50px; text-align: center;}
