body{font-size: 60%;}
* {font-family: Verdana, Arial, sans-serif; font-size: 1em;}

p {display: inline;}


.collapse{
  border-collapse: separate;
}

tr{
  vertical-align: top;
}

a { text-decoration: underline; color: black;}
a:hover { text-decoration: none; color: black;}

.title {font-style: italic;}
.selected {background-color: #ffffcc;}
.title_status_passed {background-color: green;}
.title_status_failed {background-color: red;}
.status_passed {background-color: #ccffcc;}
.status_failed {background-color: #ffcccc;}
.statusNotDone {background-color: black ;}
.status_notdone {background-color: yellow ;}
.status_done {background-color: #eeffee; }
.status_info{background-color: lightgrey;}
.main{width: 600px; }
img {border-style: none;}

.menu div {display:block;  color: white; font-family: verdana; height: 60px; cursor: pointer;}
.menu td {width: 200px; }
.menu a {text-decoration: none; color: white; font-weight: bold; display: inline;}
.menu a.full {display:block; width: 100%; height: 100%;}
.menu a:hover { text-decoration: none; color: white;}
.menu td.half {width: 60px;}

.subMenu td {width: 200px;}
.subMenu a {display:block; text-decoration: none; width: 100%; height: 100%;}
.subMenu a:hover {text-decoration: none; color: white;}
.subMenu td.half {width: 60px;}

.login {background-color: rgb( 30, 144, 255); width: 250px; color: white; }
.login td {color: white; } 
.login h2 {font-size: 0.9em;}

.border td{border-bottom: 2px solid gray;}
#highlight td{border: 2px yellow solid;}
.priorityLow{background-color: rgb(255,255,102);}
.priorityMedium{background-color: rgb(255,204,0);}
.priorityHigh{background-color: rgb(255,102,51);}
.priorityVery_high{background-color: rgb(255,51,0);}
.priorityUrgent{background-color: rgb(255,0,0);}
.matrix {border-width: 1px;	border-style: solid;	border-color: black; width:50px; text-align: center;}
a.full {display:block; width: 100%; height: 100%;}


/* install.php */
.prereq-needed {
    color: red;
}
.prereq-passed {
    
}
#install-prereqs {
    width: 600px;
    list-style-type:none;
    margin:0;
    padding:0.3em 1.5em;
}
#install-page p {display:block;}
#install-page h2 {font-size:110%;}
#install-page .mysql-error {
    color: gray;
}